<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
<servlet>
	<servlet-name>tutorialServlet</servlet-name>
	<servlet-class>tutorialServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>UserServlet</servlet-name>
	<servlet-class>UserServlet</servlet-class>
</servlet>
 
<servlet-mapping>
	<servlet-name>tutorialServlet</servlet-name>
	<url-pattern>/tutorialServlet/dashboard</url-pattern>
	<url-pattern>/tutorialServlet/edit</url-pattern>
	<url-pattern>/tutorialServlet/update</url-pattern>
	<url-pattern>/tutorialServlet/delete</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>UserServlet</servlet-name>
	<url-pattern>/UserServlet/edit</url-pattern>
	<url-pattern>/UserServlet/update</url-pattern>
	<url-pattern>/UserServlet/delete</url-pattern>
	<url-pattern>/UserServlet/logout</url-pattern>
</servlet-mapping>

</web-app>