@charset "ISO-8859-1";
.create-body{
border: 2px solid #F3F3F3;
width: 50%;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

.title{
margin-top: 50px;
}

.title h2{
text-align: center;
}

.create-form{
margin-top: 50px;
}

.title-label{
font-size: 20px;
}

.question-label{
font-size: 20px;
}

.submit-btn{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

.button-submit{
background-color: #586BA4;
border: none;
border-radius: 5px;
color: white;
padding: 5px 145px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
/* margin-left: 150px; */
align-content: center;
/* margin-top: 30px; */
}
