
@charset "ISO-8859-1";
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #FDFDFD;
  padding: 20px 10px;
}
.logo{
	margin-left: 20px;
}

.header-right {
    display: inline-block !important;
    margin-left: 100px;
}

.header-right a{
	color:#000000;
	margin-left: 30px;
	font-size: 13px
}

.btn-add-qns{
	background-color: #586BA4;
   	color: white;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.navbar{
	height:100px !important;
}

.add-qn-link {
color: #F3F3F3;
text-decoration: none;
}


.add-qn-link:hover {
color: #F3F3F3;
text-decoration: none;
}