@charset "ISO-8859-1";
.align{
display:inline-block;
margin-right:10px;
}



.question-con {
border: 2px solid #F3F3F3;
margin-bottom: 20px;
width: 60%;
margin-left: auto;
margin-right: auto
}



.label-cont{
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}



.add-qn-link {
color: #F3F3F3;
text-decoration: none;
}



.add-qn-link:hover {
color: #F3F3F3;
text-decoration: none;
}

.text-center{
	margin-top: 50px;
}

.linksAndButton {
margin-top: 20px;
}