@charset "ISO-8859-1";

.button-submit{
background-color: #586BA4;
border: none;
border-radius: 5px;
color: white;
padding: 5px 145px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
align-content: center;
}

.btn-add-qns{
	background-color: #586BA4;
   	color: white;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}